<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <title>Basthon Console</title>
    <link
      rel="icon"
      type="image/png"
      href="<%= require('../assets/img/favicon.png') %>"
    />
    <script>
      var sys_info = <%= htmlWebpackPlugin.options.sys_info %>;
    </script>
  </head>
  <body>
    <div id="header" style="font-size: 0">
      <div id="title" style="text-align: center">
        <a href="https://basthon.fr">
          <img
            src="<%= require('../assets/img/basthon.svg') %>"
            class="basthon-logo"
            alt="Basthon"
          />
        </a>
      </div>
      <div id="subtitle"></div>
    </div>
    <div id="container">
      <div id="left-div">
        <div id="editor"></div>
        <div
          style="
            padding: var(--base-unit) 0px 0px 0px;
            float: left;
            font-size: 0pt;
          "
        >
          <button id="run" class="btn" title="Exécuter le script">
            <i class="fas fa-cogs fa-fw btn-logo btn-titled"></i>Exécuter
          </button>
          <button
            id="open"
            class="btn"
            title="Ouvrir un script, charger un module ou un fichier"
          >
            <i class="fas fa-folder-open fa-fw btn-logo"></i>
          </button>
          <button id="download" class="btn" title="Télécharger le script">
            <i class="fas fa-download fa-fw btn-logo"></i>
          </button>
          <button id="share" class="btn" title="Partager ce code">
            <i class="fas fa-share-alt-square fa-fw btn-logo"></i>
          </button>
          <button
            id="hide-editor"
            class="btn"
            title="Afficher seulement la console"
            style="display: none"
          >
            <i class="fas fa-eye-slash fa-fw btn-logo"></i>
          </button>
          <button
            id="rollback"
            class="btn"
            title="Revenir à une version précédente du script"
          >
            <i class="fas fa-undo-alt fa-fw btn-logo"></i>
          </button>
        </div>
      </div>
      <div id="right-div">
        <div
          id="graphics"
          style="display: none; justify-content: center; align-items: center"
        ></div>
        <div id="shell" class="darklighted"></div>
        <div style="padding: var(--base-unit) 0px 0px 0px; float: left">
          <button id="raz" class="btn" title="Redémarrer le noyau">
            <i class="fas fa-broom fa-fw btn-logo"></i>
          </button>
          <button id="btn_shell" class="btn" title="Afficher la console">
            <i class="fas fa-terminal fa-fw btn-logo"></i>
          </button>
          <button
            id="btn_graph_view"
            class="btn"
            title="Afficher la vue graphique"
          >
            <i class="fas fa-image fa-fw btn-logo"></i>
          </button>
          <button
            id="darklight"
            class="btn"
            title="Changer le thème (sombre/lumineux)"
          >
            <i class="fas fa-adjust fa-fw btn-logo"></i>
          </button>
          <button
            id="switch"
            class="btn"
            title="Échanger l'éditeur et la console"
          >
            <i class="fas fa-exchange-alt fa-fw btn-logo"></i>
          </button>
          <button
            id="hide-console"
            class="btn"
            title="Afficher seulement l'éditeur"
          >
            <i class="fas fa-eye-slash fa-fw btn-logo"></i>
          </button>
          <button
            id="show-editor-console"
            class="btn"
            title="Afficher l'éditeur et la console"
            style="display: none"
          >
            <i class="fas fa-columns fa-fw btn-logo"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="footer">
      <a
        id="help"
        target="_blank"
        rel="noopener noreferrer"
        href="https://basthon.fr/doc.html"
      >
        <i class="far fa-life-ring fa-fw" title="Obtenir de l'aide."></i>
      </a>
    </div>
  </body>
</html>
