:root {
  --bg-color: #eee;
  --term-bg-color: #272822;
  --term-fg-color: #fff;
  --base-unit: 1vw;
  --corner-radius: calc(0.6 * var(--base-unit));
  --half-corner-radius: calc(var(--corner-radius) / 2);
  --main-font-size: calc(1.2 * var(--base-unit));
  --main-font: "Open Sans", sans-serif;
  --shadow-logo-size: calc(0.3 * var(--base-unit));
  --logo-height: 12vh;
  --term-height: 60vh;
  --term-font-size: 12pt;
  --term-font: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
    monospace;
  --term-script-color: var(--python-grey);
  --main-container-width: 90%;
  --main-container-height: 75vh;
  --left-container-width: 50%;
  --right-container-width: calc(100% - var(--left-container-width) - 2%);
  --shadow-color: rgba(0, 0, 0, 0.5);
  --link-color: #888;
  --subtitle-color: var(--link-color);
  --python-yellow: #ffc938;
  --python-blue: #366f9e;
  --python-grey: #aaa;
  --notification-font-size: 1.1rem;
}

[data-theme="light"] {
  --term-bg-color: #fff;
  --term-fg-color: #272822;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  margin: 0px;
  padding: 0px;
  overflow: auto;
  font-size: var(--main-font-size);
}

#subtitle {
  text-align: center;
  font-size: var(--main-font-size);
  margin-bottom: calc(0.5 * var(--base-unit));
  color: var(--subtitle-color);
}

textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

textarea:focus {
  outline: none !important;
}

.basthon-logo {
  height: var(--logo-height);
  filter: drop-shadow(
    var(--shadow-logo-size) var(--shadow-logo-size) var(--shadow-logo-size)
      var(--shadow-color)
  );
  margin: 0px;
}

#container {
  width: var(--main-container-width);
  height: var(--main-container-height);
  position: relative;
  margin: auto;
}

#left-div {
  width: var(--left-container-width);
  margin: auto;
  float: left;
}

#right-div {
  width: var(--right-container-width);
  position: relative;
  margin: auto;
  float: right;
  font-size: 0;
}

/* default mode is dark */
.darklighted {
  background-color: var(--term-bg-color);
  --background: var(--term-bg-color);
  color: var(--term-fg-color);
  --color: var(--term-fg-color);
}

#editor {
  float: none;
  width: 100%;
  height: var(--term-height);
  border-radius: var(--corner-radius);
  margin: 0px;
  padding-top: 0px;
}

#shell {
  position: relative;
  width: 100%;
  height: var(--term-height);
  float: none;
  resize: none;
  font-family: var(--term-font);
  font-size: var(--term-font-size);
  margin: 0px;
  border-radius: var(--corner-radius);
  border-width: 0px;
}

.terminal {
  --size: 1.333;
}

/* clickable script content */
.terminal-output > :not(.raw) div.exec-script-header:hover {
  background-color: var(--term-script-color);
  border-radius: var(--half-corner-radius);
  cursor: pointer;
}

/* to force x-scroll */
.terminal-output div[style*="100%;"] {
  overflow: unset;
}

#graphics {
  position: relative;
  width: 100%;
  height: var(--term-height);
  float: none;
  flex: initial;
  background-color: var(--bg-color);
  resize: none;
  box-sizing: border-box;
  margin-bottom: 0px;
  padding: 0px;
  border-style: dotted;
  border-color: var(--term-bg-color);
  border-radius: var(--corner-radius);
  border-width: calc(0.25 * var(--base-unit));
  font-size: var(--term-font-size);
}

#graphics > .animation > .anim-controls > .anim-buttons > button {
  padding: 0;
  width: unset;
}

@keyframes btn-eye-catcher-animation {
  50% {
    box-shadow: 0px 0px calc(0.5 * var(--base-unit)) calc(1 * var(--base-unit))
        #ffc938,
      0 var(--corner-radius) #999;
  }
}

.btn-eye-catcher {
  animation: btn-eye-catcher-animation 0.5s ease infinite;
}

.btn-logo {
  font-size: calc(1.5 * var(--base-unit));
}

.btn-titled {
  padding-right: calc(0.7 * var(--base-unit));
}

.btn {
  background-color: var(--python-blue);
  border: none;
  border-radius: var(--corner-radius);
  color: white;
  padding: calc(1.1 * var(--base-unit)) calc(1.8 * var(--base-unit));
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--main-font-size);
  box-shadow: 0 var(--corner-radius) #999;
  margin-right: calc(1 * var(--base-unit));
}

.btn:hover {
  background-color: var(--python-yellow);
  cursor: pointer;
}

.btn:enabled:active {
  box-shadow: 0 calc(0.2 * var(--base-unit)) #666;
  transform: translateY(calc(0.3 * var(--base-unit)));
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#help {
  font-size: calc(3 * var(--base-unit));
}

.basthon-loader-root.basthon-loader-foot {
  border-radius: var(--corner-radius) var(--corner-radius) 0px 0px;
}

/* Fontawesome fix for version 5 */
.fa-arrows:before {
  content: "\f0b2";
}

.notie-container {
  font-size: var(--notification-font-size);
}

.notie-background-success {
  background-color: var(--python-yellow);
}

.notie-background-warning {
  background-color: var(--python-blue);
}

.notie-background-error {
  background-color: var(--python-blue);
}

.notie-background-info {
  background-color: var(--python-grey);
}
